@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-solid-background: var(--solid-background);
  --color-solid-foreground: var(--solid-foreground);
  --font-sans: var(--font-inter);
  --font-display: var(--font-display);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --solid-background: var(--color-white);
  --solid-foreground: var(--color-black);
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
  --card: var(--color-neutral-50);
  --card-foreground: var(--color-neutral-950);
  --popover: var(--color-neutral-50);
  --popover-foreground: var(--color-neutral-950);
  --primary: var(--color-neutral-800);
  --primary-foreground: var(--color-neutral-200);
  --secondary: var(--color-neutral-300);
  --secondary-foreground: var(--color-neutral-700);
  --muted: var(--color-neutral-300);
  --muted-foreground: var(--color-neutral-500);
  --accent: var(--color-neutral-300);
  --accent-foreground: var(--color-neutral-800);
  --destructive: var(--color-red-600);
  --border: var(--color-neutral-400);
  --input: var(--color-neutral-400);
  --ring: var(--color-neutral-500);
  --chart-1: var(--color-orange-400);
  --chart-2: var(--color-cyan-400);
  --chart-3: var(--color-blue-400);
  --chart-4: var(--color-yellow-400);
  --chart-5: var(--color-amber-400);
  --sidebar: var(--color-neutral-200);
  --sidebar-foreground: var(--color-neutral-900);
  --sidebar-primary: var(--color-neutral-800);
  --sidebar-primary-foreground: var(--color-neutral-200);
  --sidebar-accent: var(--color-neutral-300);
  --sidebar-accent-foreground: var(--color-neutral-800);
  --sidebar-border: var(--color-neutral-400);
  --sidebar-ring: var(--color-neutral-500);
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
  --solid-background: var(--color-black);
  --solid-foreground: var(--color-white);
  --card: var(--color-neutral-800);
  --card-foreground: var(--color-neutral-200);
  --popover: var(--color-neutral-800);
  --popover-foreground: var(--color-neutral-200);
  --primary: var(--color-neutral-200);
  --primary-foreground: var(--color-neutral-800);
  --secondary: var(--color-neutral-700);
  --secondary-foreground: var(--color-neutral-200);
  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-500);
  --accent: var(--color-neutral-800);
  --accent-foreground: var(--color-neutral-200);
  --destructive: var(--color-red-400);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--color-neutral-500);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--color-neutral-800);
  --sidebar-foreground: var(--color-neutral-200);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: var(--color-neutral-200);
  --sidebar-accent: var(--color-neutral-800);
  --sidebar-accent-foreground: var(--color-neutral-200);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: var(--color-neutral-500);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-solid-background text-solid-foreground font-sans;
  }
}
